/* =Internet Explorer Fixes
----------------------------------------------------------------------*/

img.logo {
	position: absolute;
	top: 147px;
	left: 88px;
}

img.phone {
	position: absolute;
	margin-top: -235px;
	margin-left: -138px;
}

#tooltip {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90,FinishOpacity=75,Style=1,StartX=50,FinishX=150,StartY=50,FinishY=150);
}